<div class="mdc-card">
    <div class="mdc-card-wrapper__text-section">
      <div class="card__title">Contact me</div>
      <!-- <div class="card__subhead">Don't be shy. Just drop me a message.</div> -->
    </div>
    <div class="mdc-card-wrapper__text-section">
        <div class="demo-card__supporting-text">
            <label class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="my-label-id">Name</span>
                <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
        </div>
    </div>

    <div class="mdc-card-wrapper__text-section">
        <div class="demo-card__supporting-text">
            <label class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="my-label-id">Email</span>
                <input class="mdc-text-field__input" type="email" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
        </div>
    </div>

    <div class="mdc-card-wrapper__text-section">
        <div class="demo-card__supporting-text">
            <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field--with-internal-counter">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="my-label-id">Message</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
                <span class="mdc-text-field__resizer">
                    <textarea class="mdc-text-field__input" aria-labelledby="my-label-id" rows="8" cols="40" maxlength="140"></textarea>
                    <span class="mdc-text-field-character-counter">0 / 140</span>
                </span>
            </label>
        </div>
    </div>

    <div class="mdc-card__actions">
        <button class="mdc-button mdc-card__action mdc-card__action--button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Send</span>
        </button>
    </div>
</div>
