<head>
    <link href="index.scss" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="shortcut icon" href="assets/favicon.svg" type="image/svg+xml" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3970758666730748" crossorigin="anonymous"></script>
    <title>Emerson Estrella</title>
  </head>
  