<aside class="mdc-drawer mdc-drawer--dismissible">
  <div class="mdc-drawer__header">
    <h3 class="mdc-drawer__title">Emerson Estrella</h3>
    <h6 class="mdc-drawer__subtitle">Software engineer</h6>
  </div>   
  <div class="mdc-drawer__content">
    <nav class="mdc-deprecated-list">
      <hr class="mdc-deprecated-list-divider">
      <!-- <a class="mdc-deprecated-list-item{{selectedHome}}" href="index.html">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic">home</i>
        <span class="mdc-deprecated-list-item__text">Home</span>
      </a> -->
      <a class="mdc-deprecated-list-item{{selectedAbout}}" href="index.html">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic">account_box</i>
        <span class="mdc-deprecated-list-item__text">About</span>
      </a>
      <a class="mdc-deprecated-list-item{{selectedSkills}}" href="skills.html">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic">code</i>
        <span class="mdc-deprecated-list-item__text">Programming Skills</span>
      </a>
      <a class="mdc-deprecated-list-item{{selectedWork}}" href="work.html">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic">work</i>
        <span class="mdc-deprecated-list-item__text">My Work</span>
      </a>
      <a class="mdc-deprecated-list-item{{selectedProjects}}" href="projects.html">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic">rocket_launch</i>
        <span class="mdc-deprecated-list-item__text">Side Projects</span>
      </a>
      <!-- <a class="mdc-deprecated-list-item{{selectedPhotos}}" href="photos.html">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic">photo_library</i>
        <span class="mdc-deprecated-list-item__text">Photos</span>
      </a> -->
      <!-- <a class="mdc-deprecated-list-item{{selectedMusic}}" href="music.html">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic">audiotrack</i>
        <span class="mdc-deprecated-list-item__text">Music</span>
      </a> -->
      <a class="mdc-deprecated-list-item{{selectedResume}}" href="resume.html">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic">badge</i>
        <span class="mdc-deprecated-list-item__text">Resume</span>
      </a>
      <a class="mdc-deprecated-list-item{{selectedContact}}" href="contact.html">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic">mail</i>
        <span class="mdc-deprecated-list-item__text">Contact</span>
      </a>

      <!--
      <hr class="mdc-deprecated-list-divider">
      <h6 class="mdc-deprecated-list-group__subheader">Personal</h6>
      <a class="mdc-deprecated-list-item" href="#">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">bookmark</i>
        <span class="mdc-deprecated-list-item__text">Family</span>
      </a>
      <a class="mdc-deprecated-list-item" href="#">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">bookmark</i>
        <span class="mdc-deprecated-list-item__text">Friends</span>
      </a>
      <a class="mdc-deprecated-list-item" href="#">
        <span class="mdc-deprecated-list-item__ripple"></span>
        <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">bookmark</i>
        <span class="mdc-deprecated-list-item__text">Others</span>
      </a>
      -->
    </nav>
  </div>
</aside>