<ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
    <li class="mdc-image-list__item">
        <div class="mdc-card">
            <div class="mdc-card-wrapper__text-section">
                <div class="mdc-typography--headline6">Programming languages</div>
            </div>
            <div class="mdc-card-wrapper__text-section">
                <div class="demo-card__supporting-text">
                    <p>Python</p>
                    <p>Javascript</p>
                    <p>Solidity</p>
                    <p>Dart</p>
                    <p>Java</p>
                    <p>C, C++</p>
                    <p>Objective C</p>
                </div>
            </div>
            <div class="mdc-card__actions"></div>
        </div>
    </li>
    <li class="mdc-image-list__item">
        <div class="mdc-card">
            <div class="mdc-card-wrapper__text-section">
                <div class="mdc-typography--headline6">Web Development</div>
            </div>
            <div class="mdc-card-wrapper__text-section">
                <div class="demo-card__supporting-text">
                    <p>Python</p>
                    <p>Django</p>
                    <p>PHP</p>
                    <p>Symfony</p>
                    <p>JavaScript</p>
                    <p>HTML & CSS</p>
                    <p>LESS, SCSS</p>
                    <p>JQuery</p>
                    <p>Smarty Templates</p>
                    <p>Gulp</p>
                    <p>Webpack</p>
                    <p>Parcel</p>
                </div>
            </div>
            <div class="mdc-card__actions"></div>
        </div>
    </li>
    <li class="mdc-image-list__item">
        <div class="mdc-card">
            <div class="mdc-card-wrapper__text-section">
                <div class="mdc-typography--headline6">Software development</div>
            </div>
            <div class="mdc-card-wrapper__text-section">
                <div class="demo-card__supporting-text">
                    <p>C, C++</p>
                    <p>Flutter</p>
                    <p>Objective C </p>
                    <p>Java</p>
                    <p>iOS Applications (mobile/tablet)</p>
                    <p>Android Applications (mobile/tablet)</p>
                </div>
            </div>
            <div class="mdc-card__actions"></div>
        </div>
    </li>
    <li class="mdc-image-list__item">
        <div class="mdc-card">
            <div class="mdc-card-wrapper__text-section">
                <div class="mdc-typography--headline6">Version Control System</div>
            </div>
            <div class="mdc-card-wrapper__text-section">
                <div class="demo-card__supporting-text">
                    <p>Subversion (Version control system)</p>
                    <p>Git</p>
                </div>
            </div>
            <div class="mdc-card__actions"></div>
        </div>
    </li>
    <li class="mdc-image-list__item">
        <div class="mdc-card">
            <div class="mdc-card-wrapper__text-section">
                <div class="mdc-typography--headline6">Hosting</div>
            </div>
            <div class="mdc-card-wrapper__text-section">
                <div class="demo-card__supporting-text">
                    <p>AWS</p>
                    <p>Google Cloud</p>
                    <p>Microsoft Azure</p>
                    <p>Google AppEngine</p>
                    <p>Apache Web Server</p>
                </div>
            </div>
            <div class="mdc-card__actions"></div>
        </div>
    </li>
    <li class="mdc-image-list__item">
        <div class="mdc-card">
            <div class="mdc-card-wrapper__text-section">
                <div class="mdc-typography--headline6">Continuous Integration and Continuous Delivery</div>
            </div>
            <div class="mdc-card-wrapper__text-section">
                <div class="demo-card__supporting-text">
                    <p>Git</p>
                    <p>Jenkins</p>
                    <p>Docker</p>
                    <p>Kubernetes</p>
                </div>
            </div>
            <div class="mdc-card__actions"></div>
        </div>
    </li>
    <li class="mdc-image-list__item">
        <div class="mdc-card">
            <div class="mdc-card-wrapper__text-section">
                <div class="mdc-typography--headline6">Frameworks, CMS, CMF, LMS, and CRM</div>
            </div>
            <div class="mdc-card-wrapper__text-section">
                <div class="demo-card__supporting-text">
                    <p>Django</p>
                    <p>Django Rest Framework</p>
                    <p>Symfony</p>
                    <p>CakePHP</p>
                    <p>Joomla!</p>
                    <p>Mambo</p>
                    <p>CodeIgniter</p>
                    <p>WordPress</p>
                    <p>Moodle</p>
                    <p>Joomla! LMS</p>
                    <p>SugarCRM</p>
                </div>
            </div>
            <div class="mdc-card__actions"></div>
        </div>
    </li>
    <li class="mdc-image-list__item">
        <div class="mdc-card">
            <div class="mdc-card-wrapper__text-section">
                <div class="mdc-typography--headline6">Interface Libraries</div>
            </div>
            <div class="mdc-card-wrapper__text-section">
                <div class="demo-card__supporting-text">
                    <p>Material Design</p>
                    <p>Twitter Bootstrap</p>
                    <p>Sencha Touch</p>
                    <p>JQuery Mobile/UI</p>
                    <p>Yahoo! UI (YUI)</p>
                    <p>Mocha UI</p>
                </div>
            </div>
            <div class="mdc-card__actions"></div>
        </div>
    </li>
    <li class="mdc-image-list__item">
        <div class="mdc-card">
            <div class="mdc-card-wrapper__text-section">
                <div class="mdc-typography--headline6">Softwares & tools</div>
            </div>
            <div class="mdc-card-wrapper__text-section">
                <div class="demo-card__supporting-text">
                    <p>Kubernetes</p>
                    <p>Docker</p>
                    <p>FFMPEG</p>
                    <p>Final Cut</p>
                    <p>Adobe Photoshop</p>
                    <p>Adobe Image Ready</p>
                    <p>Macromedia Fireworks</p>
                    <p>Macromedia Flash</p>
                    <p>Adobe Premiere</p>
                    <p>Flash Media Encoder</p>
                </div>
            </div>
            <div class="mdc-card__actions"></div>
        </div>
    </li>
</ul>