@use "../node_modules/@material/theme" with (
  $primary: #3f51b5,
  $secondary: #ffab91,
  $on-primary: #ffffff,
  $on-secondary: #000000,
);

@use "../node_modules/@material/layout-grid/mdc-layout-grid";
@use "../node_modules/@material/button/mdc-button";
@use '../node_modules/@material/button';
@use "../node_modules/@material/icon-button";
@use "../node_modules/@material/icon-button/styles" as icon-button-styles;
@use "../node_modules/@material/top-app-bar";
@use "../node_modules/@material/top-app-bar/mdc-top-app-bar";
@use "../node_modules/@material/drawer";
@use "../node_modules/@material/list";
@use "../node_modules/@material/card";
@use "../node_modules/@material/typography/mdc-typography";
@use "../node_modules/@material/floating-label/mdc-floating-label";
@use "../node_modules/@material/line-ripple/mdc-line-ripple";
@use "../node_modules/@material/notched-outline/mdc-notched-outline";
@use "../node_modules/@material/textfield";
@use "../node_modules/@material/dialog";
@use "../node_modules/@material/chips/deprecated/mdc-chips";
@use "../node_modules/@material/chips";
@use "../node_modules/@material/image-list/mdc-image-list";
@use "../node_modules/@material/image-list";
@use "../node_modules/@material/fab";
@use "../node_modules/@material/tab-bar/mdc-tab-bar";
@use "../node_modules/@material/tab-scroller/mdc-tab-scroller";
@use "../node_modules/@material/tab-indicator/mdc-tab-indicator";
@use "../node_modules/@material/tab/mdc-tab";

.my-image-list {
  @include image-list.standard-columns(2);
}

.my-masonry-image-list {
  @include image-list.masonry-columns(2);
}

@include dialog.core-styles;
@include textfield.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include card.core-styles;
@include fab.core-styles;

body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
}

.content {
  margin: 25px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

// Only apply this style if below top app bar.
.mdc-top-app-bar {
  z-index: 7;
}

.mdc-card__primary-main-content {
  padding: 1rem;
}

.mdc-card__primary-main-content h3 {
  margin-top: 2em;
}

.mdc-card__primary-sub-content {
  padding: 0 1rem 8px;
}

.card__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.card__subhead {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  opacity: .6;
}

.demo-card__supporting-text {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  opacity: .6;
}

.mdc-card-wrapper__text-section:first-child, .mdc-card__media+.mdc-card-wrapper__text-section {
  padding-top: 16px;
}

.mdc-card-wrapper__text-section {
  padding-left: 16px;
  padding-right: 16px;
}

.mdc-card-wrapper__text-section+.mdc-card-wrapper__text-section {
  padding-top: 18px;
}

div.mdc-list-divider {
  padding-top: 16px;
}

.mdc-evolution-chip-set .mdc-evolution-chip-set__chips {
  margin-right: 8px;
}

.about .mdc-card {
  margin-bottom: 16px;
}

.mdc-card__media {
  background-size: contain !important;
}

.contact .mdc-card {
  min-width: fit-content;
}

.resume .mdc-fab {
  right: 16px;
  position: fixed;
  z-index: 1;
  bottom: 16px;
}

aside .mdc-typography--overline {
  font-size: 8px;
  text-align: center;
}

.title {
  // border-bottom: 1px solid rgba(0,0,0,.25);
  margin-top: 48px;
}

.title:first-child {
  margin-top: 0px;
}

// .mdc-top-app-bar {
//   @include top-app-bar.fill-color-accessible(white);
//   @include top-app-bar.icon-ink-color(rgba(0, 0, 0, 0.6));
// }

.mdc-top-app-bar__navigation-icon {
  text-decoration: none;
  display: none !important;
}

// Fill the height of the top app bar with the tab bar
.mdc-top-app-bar__section {
  padding-top: 0;
  padding-bottom: 0;
}

.mdc-tab-bar, .mdc-tab-scroller, .mdc-tab-scroller__scroll-area, .mdc-tab {
  height: 100%;
}

// BREAKPOINT
@media (max-width: 600px) {
  .mdc-top-app-bar__navigation-icon {
    display: block !important;
  }

  .mdc-tab-scroller__scroll-content {
    display: none;
  }
}

header {
  box-shadow: 0 2px 5px rgb(0 0 0 / 26%);
  height: 64px;
}

.mdc-tab-indicator__content {
  border-color: white !important;
}

.mdc-tab__text-label {
  color: white !important;
}